<% include partials/header %>

<div id="profile" class="mt-4">
    <h1>User <%= user.firstName + " " + user.lastName %></h1>
    <img style="max-height: 200px;" class="img-thumbnail" src="<%= user.avatar%>" alt="">
    <p><%= user.info%></p>
    <p> <strong>Email: </strong><a href="mailto:<%= user.email %>"><%= user.email%></a></p>
    <h3>Postagens de <%= user.firstName%></h3>
    <ul>
        <% posts.forEach(function(post){%>
            <li><a href="/revise/<%= post.id %>"><%= post.title %></a></li>
        <%});%>
    </ul>
</div>

<% include partials/footer %>
