<% include partials/header %>


<div id="post">
    
    <img class="img-thumbnail center" src="<%= post.image %>" alt="">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <a href="/revise/<%= post._id %>/edit">Edite</a>
    <form action="/revise/<%= post._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
    <h2>Comments</h2>
    
    <% post.comments.forEach(function(comment){ %>
        <p>
            <strong><%= post.author %></strong> - <%= post.content %>
        </p>
    <% }) %>

    
</div>
<% include partials/footer %>