<% include partials/header %>

<%moment.locale("pt-br"); %> 

<div id="show">
    <h2><%= post.title %></h2>
    <img style="max-height: 400px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;" 
  class="img-thumbnail" src="<%= post.image %>" alt="">
    <h5>
        <p>
            <em>Criado por: <a href="/user/<%=post.author.id %>"><%= post.author.username %></a>, <%= moment(post.createdAt).fromNow() %></em>
        </p>
    </h5>
    <p><%= post.content %></p>

    


    <form action="/revise/<%= post._id %>/like" class="d-inline ml-3" method="POST">
        <div class="btn-group">
            <% if (currentUser && post.likes.some(function (like) {
                return like.equals(currentUser._id)
            })) { %>
            <button class="btn btn-sm btn-primary">
                <i class="fas fa-thumbs-up"></i> Curtido (<%= post.likes.length %>)
            </button>
            <% } else { %>
            <button class="btn btn-sm btn-secondary">
                <i class="fas fa-thumbs-up"></i> Curtir (<%= post.likes.length %>)
            </button>
            <% } %>
            <button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                    data-target="#campgroundLikes">Ver mais detalhes
            </button>
        </div>
    </form>
    <div class="mt-3">
    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#campgroundLikes">
        <span>Total de Curtidas: <i class="fas fa-thumbs-up"></i> <%= post.likes.length %></span>
    </button>
    </div>


    <% if(currentUser && post.author.id.equals(currentUser._id) && currentUser.isAdmin){ %>
        <div class="mt-2">
            <a class="btn btn-warning" href="/revise/<%= post._id %>/edit">Editar</a>
            <form style="display: inline;" action="/revise/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Deletar</button>
            </form>
        </div>
    <%}%>



<!-- Post Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Total de Curtidas: <%= post.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Curtido por:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% post.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        </tr>
                    <% }); %>
                    <% if (post.likes.length === 0) { %>
                        <tr>
                            <td><em>Sem curtidas ainda.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<div id="comments" class="ui comments rounded">
        <h2><span class="badge badge-secondary mb-3">Comentários</span></h2>
    <% post.comments.forEach(function(comment){ %>
    <div id="comentario" class="comment rounded">
        <a class="author"><%=comment.author.username%></a>
        <div class="metadata">
          <div class="date"><%= moment(comment.createdAt).fromNow() %></div>
        </div>
        <div class="text">
          <p><%= comment.content %> </p>
        </div>
        <div>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-sm btn-warning buttons" href="/revise/<%=post._id %>/comments/<%=comment._id %>/edit">Editar</a>
                <%}%>
                <% if(currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
            <form style="display: inline;"  id="delete-form" action="/revise/<%= post._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger buttons">Deletar</button>
            </form>
            <%}%>
        </div>
    </div>
    <% }); %>
    <form class="ui reply form" action="/revise/<%= post._id%>/comments" method="POST">
      <div class="field">
        <textarea type="text" name="comment[content]"></textarea>
      </div>
      <div >
        <button class="ui primary submit labeled icon button"> <i class="icon edit"></i>Adicionar Comentário</button>
      </div>
    </form>
  </div>

    
</div>
<% include partials/footer %>