<% include partials/header %>

<% if(currentUser && currentUser.isAdmin){ %>
    <a class="btn btn-primary" href="/postagem">Fazer uma Postagem</a>
<%}%>

<div class="col-md-12">
    <% if(noMatch !== undefined){ %>
        <h3><%= noMatch %></h3>
    <% } %>
</div>

<div class="posts">
<div class="row">
    <% posts.forEach(function(post) { %>
        <div class="col-lg-6 mb-5">
            <a href="/revise/<%= post._id %>"><h3 class="mb-3"><%= post.title %></h3></a>     
            <img style="max-height: 230px;" class="img-thumbnail"  src="<%= post.image %>" alt="">
            <p class="mt-3"><%= post.content.substring(0, 100) %>...</p>
        </div>
            
    <% }); %>
</div>
</div>


<nav style="margin: 0 38%; width: 400px;" class="Page navigation example mb-5">
    <% if (pages && pages > 0) { %>
    <ul id="centered" class="pagination">
        <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link">Primeiro</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/revise<%if(search){%>?search=<%=search%><%}%>">Primeiro</a></li>
        <% } %>
 
        <% if (current == 1) { %>
        <li class="disabled page-item"><a class="page-link">«</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/revise?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="disabled page-item"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active page-item"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/revise?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled page-item"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link">»</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/revise?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="disabled page-item"><a class="page-link">Último</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/revise?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Último</a></li>
        <% } %>
    </ul>
    <% } %>
</nav>

<% include partials/footer %>